<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body ng-app="app">
    <div ng-controller="HomeController">
    	
    	<directive></directive>
        
        <ul>
            <li ng-repeat="name in names">{{name}}</li>
        </ul>
    	
    </div>
  </body>
</html>