<!DOCTYPE html>
<html>
  <head>
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <<%= DirectiveNS %>>
      <div ng-controller="HomeController">
      	
          <demo></demo>

          <ul>
              <li ng-repeat="t in Tag">{{t}}</li>
          </ul>
      	
      </div>
    </<%= DirectiveNS %>>
  </body>
</html>